<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">App piloto</h1>
            <h3 class="mb-5">
                <em>Aprendiendo JS con nodeJS y express</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Accede a las features aqui!</a>
        </div>
    </header>
</main>